<!DOCTYPE html>
<%- include('../partials/doctypeHead') %>
<body>
  <%- include('../partials/doctypeHeader') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p><%= person.imageUrl %></p>
        <p><%= person.name %></p>
        <p><%= person.dob %></p>
        <p><%= person.profession %></p>
        <p><%= person.favoriteFood %></p>
        <p><%= person.favoriteBeverage %></p>





      </div>
    </div>
    <nav>
      <a href="/question2">Previous</a>
      <a href="/question4">Next</a>
    </nav>
  </div>
</body>
